// font family
$font-family-primary: 'metabold_roman', arial;

// font size
$font-size-medium: 18px;

$font-size-h4: 18px;
$font-size-h3: 23px;
$font-size-h2: 28px;
$font-size-h1: 32px;

// colors
$color-text-title: #1f1f1f;
$color-grey: #939393;
$color-fill-label: #09c;
$color-white: #fff; // dont use
$color-fill-white: $color-white;
$color-fill-check-mark: #ffa500;
